/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.min.css";
/* styles.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "./variables.scss";

// * {
//   font-family: "Ubuntu", sans-serif !important;
// }
.body {
 // font-family: "Roboto", sans-serif !important;
   font-family: "Ubuntu", sans-serif !important;

  min-height: 80vh;
  background: var(--bkg-color) !important;
  margin: 0%;
  padding: 0%;
}
a,
p,
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color) !important;
}
