<!-- <app-breadcrum title="Login"></app-breadcrum> -->
<div class="m-0 p-0">
  <div class="container-fluid">
    <div class="d-flex row">
      <div class="order-lg-2 order-sm-1 col-lg-6 col-sm-12">
        <div class="row">
          <div class="card">
            <div class="card-body my-3">
              <p class="card-text text-end mb-5">
                <small
                  >Don't have an account?
                  <span><a routerLink="/auth/signup">SignUp.</a></span></small
                >
              </p>

              <div
                class="container p-3 justify-content-center align-items-center d-flex h-100"
              >
                <div class="row">
                  <h4 class="card-title my-3">Sign in</h4>

                  <div
                    class="d-flex align-items-center justify-content-center loginWithbtn my-2"
                  >
                    <span class="mx-2"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="19px"
                        width="19px"
                        viewBox="0 0 48 48"
                      >
                        <path
                          fill="#FFC107"
                          d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
                        />
                        <path
                          fill="#FF3D00"
                          d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
                        />
                        <path
                          fill="#4CAF50"
                          d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
                        />
                        <path
                          fill="#1976D2"
                          d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
                        />
                      </svg>
                      Continue with Google
                    </span>
                  </div>

                  <div
                    class="d-flex justify-content-center align-items-center loginWithbtn"
                  >
                    <span class="mx-2"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 30 30"
                        width="20px"
                        height="20px"
                      >
                        <path
                          d="M26.37,26l-8.795-12.822l0.015,0.012L25.52,4h-2.65l-6.46,7.48L11.28,4H4.33l8.211,11.971L12.54,15.97L3.88,26h2.65 l7.182-8.322L19.42,26H26.37z M10.23,6l12.34,18h-2.1L8.12,6H10.23z"
                        />
                      </svg>
                      Continue with Twitter
                    </span>
                  </div>

                  <div
                    class="d-flex justify-content-center align-items-center my-4"
                  >
                    <hr class="featurette-divider w-50" />
                    <span class="mx-3">OR</span>
                    <hr class="featurette-divider w-50" />
                  </div>

                  <div class="">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="email"
                          type="email"
                          placeholder="Email id"
                          formControlName="email"
                        />
                        <label for="email">Email id</label>
                      </div>

                      <div class="form-floating">
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          formControlName="password"
                          placeholder="Password"
                        />
                        <label for="password">Password</label>
                      </div>
                      <div *ngIf="errorMessage" class="text-danger mb-3">
                        <p>{{ message }}</p>
                      </div>
                      <p class="card-text text-end">
                        <small
                          ><a routerLink="/">Forget Your Password.</a></small
                        >
                      </p>

                      <div class="">
                        <!-- <button
                          class="btn loginbtn  w-100"
                          *ngIf="!loading"
                        >
                          <small>Sign-in</small>
                        </button> -->
                        <div class="row" *ngIf="!loading">
                          <div class="col-6 col-sm-6 col-lg-3">
                            <button class="btn loginbtn w-100">
                              <small>Sign in</small>
                            </button>
                          </div>
                        </div>
                        <div *ngIf="loading" class="row">
                          <div class="col-6 col-sm-6 col-lg-3">
                            <button class="btn loginbtn w-100" disabled>
                              <small>Loading...</small>
                            </button>
                          </div>
                        </div>
                        <!-- <button
                          class="btn loginbtn fw-bold"
                          disabled
                          *ngIf="loading"
                        >
                          Loading...
                        </button> -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- <a href="#" class="btn-primary">Go somewhere</a> -->
              <div class="d-flex"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-lg-1 order-sm-2 col-lg-6 col-sm-12 bg-image"></div>
    </div>
  </div>
</div>
